*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
     

}

.logo1{

   width: 40%;
   height: 50px;
   /* background-color: brown; */
   position: relative;
   top: -35px;
   font-family: "Poppins", sans-serif;


    }


.log{
    /* background-color: rgba(175, 41, 41, 0.315); */
    width: 450px;
    height: 700px;
     padding-top: 55px;
    position: relative;
    margin: 0px  auto  auto;
    right: 295px;
    margin-top: 90px;
    font-family: "Poppins", sans-serif;




}

.log1{
width: 570px;
height: 375px;
position: relative;
margin: 0px auto auto ;
display:block;
padding-top:50px;
background-color:white;
text-align: center;
border-radius: 20px;
font-family: "Poppins", sans-serif;


}
.form_email{
    color: rgb(8, 8, 8);
    position: relative;
    right: 210px;

}
.form_senha{
    color: rgb(3, 3, 3);
    position: relative;
    right: 210px;
    /* background-color: blue; */
    top:15px;
}
.input_email{
    width: 80%;
    height: 25px;
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 2px;
    padding-left: 5px;
    border: 1px solid black;
    background-color:white;
    opacity:0.3 ;
}
.input_senha{
    width: 80%;
    height: 25px;
    border-radius: 4px;
    outline: none;
   border: none;
    margin-top: 17px;
    padding-left: 5px;
    border: 1px solid black;
    background-color:white;
    opacity:0.3 ;

}

.btnlog{
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:white;
    border: 1px solid;
    opacity: 0.6;
    font-family: "Poppins", sans-serif;
}
.btnlog:hover{
    background-color: #a46eaf;
    transition: 0.7s;

}
.esqsenha{
    margin-top: 15px;
}

/* padina curso */

.topo{
    background-color:#fff;
    margin-top: 0px;
    height: 60px;
    padding-top: 6px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a46eaf ;
}
.logocurso{
    width: 10%;
    height: auto;
}
.icones{
    /* background-color: red; */
    width: 50%;
    display: flex;
    
    
    gap: 15px;
      
}
.pesquisa{
    position: relative;
    right: 10%;
    width: 253px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: #f1f5f9;
    border: transparent;
    color:#94a3b8;
    font-size: 15px;
   background-image: url(./img/lupa.png);
   background-repeat: no-repeat;
   background-size: 30px;
   background-position-x: right;
   background-position-y: 5px;
   
}
.sino{
 height: 40px;
 position: relative;
 cursor: pointer;
 
 /* background-color: #fff; */
}

.sino:hover{
background-color: #f1f5f9;
border-radius: 10px;
}
.avatar{
    height: 40px;
    cursor: pointer;
}
.inicio{
    width: 75px;
    height: 40px;
    margin-top:60px;
    border: none;
    margin-left:0px;
    gap: 60px;
    border-radius: .375rem;
    font-weight: 600;
    background-color: #a46eaf;
    color: #fff;
    cursor: pointer;
    
}

.btn_inicio{
    width: 100%;
    /* background-color: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 79%;    
    
 
}
.disponivel{
    width: 100px;
    height: 25px;
    margin-top:60px;
    border: none;
    margin-left: 40px;
    border-radius: 4px;
    font-weight: 600;
    
}
.disponivel:hover{
    background-color: rgb(241 245 249);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;

}
h3{
    
   padding-top: 30px;
   padding-left: 100px;
   font-size: 1.25rem;
   font-weight: 390;
  
}
.conteudo{
 width: 90%;
  display: flex;
  
  text-align: center;
  /* background-color: aqua; */
  margin: 0px 90px 0px 90px;
}
.conteudo2{
    
    
    display: flex;
    padding-top: 15px;
    border-radius: 20px;
    margin: 0px 90px 50px 90px;
    /* background-color: aqua; */
    text-align: left;
    
  }
.curso{
    width: 100%;
    height: 310px;
    padding: 5px;
   
    margin-top: 25px;
    
    
    /* background-color: #94a3b8; */

}
.imgcurso{
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    
}
.curso2{
    width: 14%;
    height: 350px;
    padding: 5px;
    margin: 0px 0px 50px 10px;
    /* background-color: #64748B; */
    
}
.imgcurso2{
    max-width: 100%;
    height: 350px;
    border-radius: .5rem;
 
}

.carddeprogresso{
    max-width: 100%;
    
    margin-top: .25rem;
    height: .25rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color:#a46eaf;
}
.card{
    max-width: 100%;
    
    margin-top: -.25rem;
    height: .25rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color:#a46eaf;
    position: relative;
    margin-top: -20px;
}
.titulos{
    margin-top: 5px;
    font-weight: 550;
    font-size: 16px;
    color: #0F172A;
    opacity: 0.7;
    text-align: left;
    background-color:rgba(211, 208, 208, 0.973);
}
.contexto{
   margin-top: 5px;
   font-size: 15px;
   color: #64748B;
   text-align: left;
   
   border-radius: 2px;
}
